[user]
	email = eaalbue@gmail.com
	name = Elizabeth Schafhauser
	signingKey = ~/.ssh/id_ed25519.pub
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/aa0kd17cjag4j4jfjdyiq1f1rf9nk2gm-gh-2.49.2/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/aa0kd17cjag4j4jfjdyiq1f1rf9nk2gm-gh-2.49.2/bin/gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed-ssh-signers
[rebase]
	autosquash = true
[include]
	path = ~/.local/.gitconfig
